body{
    background-color: rgb(150, 2, 166);
color: aqua;
font-family: 'Courier New', Courier, monospace;
margin: 0px;
    
}
h1{
color: blue;
font-size: 40px;
}
p{
    font-size: 25px;
}
header{
    border-bottom:rgb(248, 3, 199);
    margin: 2px;
    padding: 10px;
    color: black;
}